{% extends "basicHTML.html" %}

{% block title %}
About Me
{% endblock %}

{% block descript%}
<h1>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm"
    <h5 class="my-0 mr-md-auto font-weight-normal">
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light" href="/">Main</a>
    </nav>
</h1>


<p class="text-light">"No rights reserved" means exactly what it sounds like. The owner waives every right he has under copyright law.
    No rights reserved is more commonly known as "CC0," or Creative Commons. It's used when a creator wants to release their work into the public domain so that others can enhance it or use it freely for their own purposes.</p>


<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Welcome to the Sewers, by Smoked Senator.</a>
    </div>
</nav>
{% endblock %}